# Logging Configuration
Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.AspNetCore=Warning
AllowedHosts=*

# JWT Configuration
Jwt__Key=ChuaNghiRaKeyNuaNeChucBanGiaiDuoc8386A1b2C3d4E5f6G7h8I9j0K1l2M3n4O5
Jwt__Issuer=http://localhost:7001
Jwt__Audience=http://localhost:7001

# Database Configuration
ConnectionStrings__DefaultConnection=Server=mysql;Port=3306;Database=AI.Fitness.Coach.Service;user=root;password=phucdai011;

# RabbitMQ Configuration
RabbitMQ__HostName=rabbitmq
RabbitMQ__Port=5672
RabbitMQ__Username=ADMIN
RabbitMQ__Password=ADMIN
RabbitMQ__VirtualHost=/

# Qdrant Vector DB Configuration
Qdrant__Host=qdrant
Qdrant__Port=6334
Qdrant__Https=false
Qdrant__ApiKey=

# Ollama Configuration
Ollama__Url=http://localhost:11434
Ollama__Model=bge-m3
Ollama__VectorSize=1024

# OpenAI Configuration
OpenAI__ApiKey=sk-proj-xxxxxxx
OpenAI__EmbeddingModel=text-embedding-3-small
OpenAI__VectorSize=1536

# AI Provider Selection
AI_Provider=Ollama

# OpenRouter Configuration
OpenRouter__ApiKey=sk-xxxxxxx
OpenRouter__Model=gpt-4o

# Google AI Configuration
GoogleAI__ApiKey=LenAIStudioMaDungDangFreeDo
GoogleAI__Model=gemma-4-31b-it
