ConnectionStrings__DefaultConnection=Server=localhost;Port=3307;Database=Auth.Fitness.Coach.Service;user=root;password=phucdai011;;

# =========================
# JWT
# =========================
Jwt__Key=ChuaNghiRaKeyNuaNeChucBanGiaiDuoc8386A1b2C3d4E5f6G7h8I9j0K1l2M3n4O5
Jwt__TokenExpiryMinutes=60

# =========================
# Admin Account Seed
# =========================
AdminAccount__Email=xxxxxxxxxxxxxxxx
AdminAccount__Password=xxxxxxxxxx
AdminAccount__FullName=xxxxxxxxxxxxxx

# =========================
# Email Settings
# =========================
EmailSettings__MailServer=smtp.gmail.com
EmailSettings__MailPort=587
EmailSettings__SenderName=FitnessCoach
EmailSettings__FromEmail=xxxxxxx@gmail.com
EmailSettings__Password=xxxxxxxx
EmailSettings__DisplayName=FitnessCoach

# =========================
# Google OAuth
# =========================
Google__ClientId=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
Google__ClientSecret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# =========================
# Cloudinary
# =========================
Cloudinary__CloudName=xxxxxxxxxxxx
Cloudinary__ApiKey=xxxxxxxxxxxx
Cloudinary__ApiSecret=xxxxxxxxxxxxxxxxxxxxxxxx

# =========================
# RabbitMQ
# =========================
RabbitMQ__HostName=localhost
RabbitMQ__Port=5672
RabbitMQ__Username=ADMIN
RabbitMQ__Password=ADMIN
RabbitMQ__VirtualHost=/

# =========================
# Frontend
# =========================
Frontend__BaseUrl=http://localhost:5173
Frontend__ResetPasswordUrl=http://localhost:5173/reset-password
FrontendUrl=http://localhost:5173